.background-color {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.center-logo {
    display: block;
    text-align: center;
    scale: 0.5;
    margin-top: -50px;
}

.switch-border-dark {
    border: radius 200px;
    border-style: solid;
}

.switch-border-light {
    border-color: #0000;
}

.style-button-for-pokeImg {
    height: 150px !important;
    border-radius: 20px !important;
    border: 1px solid !important;
    width: 150px !important;
    --reactive-button-primary-color: #0A285F !important;

}

.parent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2%;
}

.child {
    flex: 1 0 10%;
    /* explanation below */
}

.center-load-button {
    margin-top: 10px !important;
    text-align: center !important;
    padding-bottom: 20px;
}

.modal-position {
    position: absolute;
    z-index: 100000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../Images/modal.png");
    background-size: cover;
    border-radius: 30px;
    height: 600px;
    width: 800px;
}

.center-spinner {
    height: 130px;
    width: 95px;
    padding-left: 25%;
    padding-right: 25%;
}

.margin-for-pokemon {
    margin-bottom: 70%;
}

#right {
    font-family: bitFont;
    display: inline-block;
    padding-left: 30%;
}

#left {
    scale: 2;
    display: inline-block;
    padding-top: 25%;
    padding-left: 3%;

}

.pokemonFont {
    font-family: pokeFont;
    font-size: 20px;
    color: #FC0;
}

input {
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.bulb-style {
    width: 50px;
    height: 50px;
}

.button-for-bulb {
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset !important;
    box-shadow: unset !important;
    --reactive-button-primary-color: none !important;
}

.load-button {
    --reactive-button-primary-color: #0A285F !important;
    border-radius: 20px !important;
}

.align-input {
    text-align: center;
}

.name-font-size-modal {
    font-size: 30px;
}

.bold-font {
    font-weight: bold;
}

.button-close-modal {
    height: 30px !important;
    width: 30px !important;
    border-radius: 15px !important;
    background-color: red !important;
    margin-top: 450px !important;
    margin-right: 20px !important;
    margin-left: 63px;
    margin-bottom: 3px;
}

.conteren-modal-close-button {
    background: none;
    border: none;

}

.font-modal {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-left: -4px;
}

@font-face {
    font-family: bitFont;
    src: url("../../Font/slkscr.ttf");
}

@font-face {
    font-family: pokeFont;
    src: url("../../Font/pokeFont.ttf");
}